.snakemake/
.pytest_cache/
__pycache__/
*.pyc
*.sif
containers/cache/
containers/locked.tsv
results/
logs/
!logs/
logs/*
!logs/slurm/
logs/slurm/*
!logs/slurm/.gitkeep
benchmarks/
work/
.DS_Store
config/config.yaml
config/samples.tsv
config/analyses.yaml
